@media screen and (max-width: 991.9px){
    .container {
        padding: 0 12px;
    }
    header {
        padding: 12px 0;
    }
    .nav-logo {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    a.site-logo {
        max-width: 150px;
    }
    button.hamburger {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 6px;
        width: 30px;
        background: transparent;
        padding: 2px 0;
        border: none;
    }
    button.hamburger span {
        width: 100%;
        height: 3px;
        background-color: var(--primary);
        border-radius: 2px;
        transition: all 0.4s;
        position: relative;
        top: 0;
    }
    body.menu-active button.hamburger span:first-child {
        transform: rotate(-47deg);
        top: 9px;
    }
    body.menu-active button.hamburger span:nth-child(2) {
        width: 0;
    }
    body.menu-active button.hamburger span:last-child {
        transform: rotate(47deg);
        top: -8.5px;
    }
    a.my-account {
        padding: 4px;
    }
    a.my-account span {
        display: none;
    }
    a.my-account img {
        width: 30px;
        height: 30px;
    }
    nav.main-nav {
        position: fixed;
        width: 300px;
        max-width: 100%;
        top: 62px;
        left: -100%;
        height: calc(100% - 62px);
        z-index: 9;
        padding: 12px;
        background-color: var(--white);
        border-top: 1px solid var(--med-contrast);
        transition: all 0.4s;
    }
    body.menu-active nav.main-nav {
        left: 0;
        box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1);
    }
    body.menu-active nav.main-nav ul {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }



}
@media screen and (max-width: 767.9px){
    body {
        font-size: 16px;
        line-height: 1.4;
    }
    .product-cart {
        padding: 12px;
    }
    .cart-checkout {
        padding: 16px;
        gap: 16px;
    }
    .single-product, .product-title {
        gap: 12px;
    }



}
@media screen and (min-width: 992px){
    nav.main-nav ul li a:hover {
        font-weight: 600;
        letter-spacing: 0;
        background: var(--primary-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


}