@media screen and (max-width: 991.9px){
    .container {
        padding: 0 12px;
    }
    header {
        padding: 12px 0;
    }
    .nav-logo {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    a.site-logo {
        max-width: 150px;
    }
    button.hamburger {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 6px;
        width: 30px;
        background: transparent;
        padding: 2px 0;
        border: none;
    }
    button.hamburger span {
        width: 100%;
        height: 3px;
        background-color: var(--primary);
        border-radius: 2px;
        transition: all 0.4s;
        position: relative;
        top: 0;
    }
    body.menu-active button.hamburger span:first-child {
        transform: rotate(-47deg);
        top: 9px;
    }
    body.menu-active button.hamburger span:nth-child(2) {
        width: 0;
    }
    body.menu-active button.hamburger span:last-child {
        transform: rotate(47deg);
        top: -8.5px;
    }
    nav.main-nav {
        position: fixed;
        width: 300px;
        max-width: 100%;
        top: 62px;
        left: -100%;
        height: calc(100vh - 62px);
        max-height: calc(100vh - 62px);
        overflow-y: auto;
        z-index: 9;
        padding: 12px;
        background-color: var(--white);
        border-top: 1px solid var(--med-contrast);
        transition: all 0.4s;
    }
    body.menu-active nav.main-nav {
        left: 0;
        box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1);
    }
    body.menu-active nav.main-nav ul {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    span.vertical {
        display: none;
    }
    main {
        padding-top: 64px;
    }
    .hero-img {
        padding: 64px 0;
    }
    .hero-left {
        margin: 0 auto;
        text-align: center;
    }
    .hero-product {
        margin: 0 auto;
    }



}
@media screen and (max-width: 767.9px){
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 32px;
        line-height: 1.25;
    }
    h5 {
        font-size: 20px;
    }
    body, h6 {
        font-size: 16px;
        line-height: 1.4;
    }
    .my-account, .cart-btn {
        padding: 4px;
    }
    :is(.my-account, .cart-btn) p {
        display: none;
    }
    .product-cart {
        padding: 12px;
    }
    .cart-checkout {
        padding: 16px;
        gap: 16px;
    }
    .single-cart-product, .cart-product-title {
        gap: 12px;
    }
    .footer-row > * {
        flex: 1 1 100% !important;
    }
    .footer-content {
        padding: 48px 12px;
        margin: 0 -12px;
        border-radius: 0;
    }
    .hero-section {
        padding: 0 0 48px;
    }
    .hero-content {
        border-radius: 0;
        margin: 0 -12px 24px;
        padding: 48px 12px;
    }
    .hero-img {
        padding: 40px 24px;
    }
    .hero-left h1 {
        font-size: 42px;
        line-height: 1.2;
    }
    .hero-bottom-left {
        text-align: center;
    }
    .case-left, .case-right {
        padding: 24px 16px;
    }
    .about-us-content {
        padding: 32px 16px 24px;
    }
    .contact-us-form {
        padding: 16px 0;
    }



}
@media screen and (max-width: 575.9px){
    .advantages-list {
        flex-direction: column;
        max-width: 320px;
        margin: 0 auto;
    }
    span.advantage-img {
        flex-basis: 64px;
        height: 64px;
    }


}
@media (min-width: 768px) and (max-width: 991.9px) {
    .advantages-list {
        flex-direction: column;
    }


}
@media screen and (min-width: 992px){
    nav.main-nav ul li a:hover {
        font-weight: 600;
        letter-spacing: 0;
        background: var(--primary-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


}